@font-face {
  font-family: "MiSansLatinVF";
  src:
    url("./../fonts/MiSansLatinVF.ttf") format("ttf"),
    url("./../fonts/MiSansLatinVF.woff2") format("woff2"),
    url("./../fonts/MiSansLatinVF.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MiSansLatinVF";
  src:
    url("./../fonts/MiSansLatin-Semibold.ttf") format("ttf"),
    url("./../fonts/MiSansLatin-Semibold.woff2") format("woff2"),
    url("./../fonts/MiSansLatin-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

#xiaomi {
  font-family: "MiSansLatinVF", sans-serif;
  margin: 0 auto;
  margin-bottom: 3em;
  width: 100%;
  overflow: hidden;

  background: #fff;
  color: #000;

  line-height: 1.5;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  /* overflow-wrap: break-word; */

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#xiaomi *,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "MiSansLatinVF", sans-serif;
}

@media (min-width: 960px) {
  #xiaomi {
    max-width: 680px;
  }
}

@media (min-width: 1230px) {
  #xiaomi {
    max-width: 920px;
  }
}

/* images */

#xiaomi .lazy {
  width: auto;
  max-width: 100%;
  height: auto;
}

#xiaomi .img-center-x {
  margin-inline: auto;
  width: 100%;
  display: block;
}

#xiaomi .img-col {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/* hero */

#xiaomi .hero__logo-container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#xiaomi .hero__img {
  width: 100%;
  display: block;
}

#xiaomi .hero__title {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}

#xiaomi .hero__name {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 960px) {
  #xiaomi .hero__logo-container {
    position: absolute;
    inset: 0;
    width: 80%;
    display: flex;
    align-items: center;
    margin-inline: auto;
  }
}

/* texts */
#xiaomi .text-2xs {
  font-size: 8px;
}

#xiaomi .text-xs {
  font-size: 12px;
}

#xiaomi .text-sm {
  font-size: 15.7px;
}

@media (min-width: 960px) {
  #xiaomi .text-sm {
    font-size: 13px;
  }
}

@media (min-width: 1230px) {
  #xiaomi .text-sm {
    font-size: 16.7px;
  }
}

#xiaomi .text-lg {
  font-size: 27px;
}

#xiaomi .text-xl {
  font-size: 27px;
}
@media (min-width: 1230px) {
  #xiaomi .text-xl {
    font-size: 40px;
  }
}

#xiaomi .text-center {
  text-align: center;
}

#xiaomi .text-left {
  text-align: left;
}

#xiaomi .text-right {
  text-align: right;
}

#xiaomi .font-600 {
  font-weight: 600;
}

#xiaomi .text-white {
  color: #ffffff;
}

#xiaomi .text-white {
  color: #0f0000;
}

#xiaomi .text-black {
  color: #000000;
}

#xiaomi .text-accent {
  color: #2cc1e6;
}

#xiaomi .bg-black {
  background-color: #000000;
}

#xiaomi .bg-accent {
  background-color: #2cc1e6;
}

/* sections */

#xiaomi .section {
  padding: 50px 10px;
  position: relative;
}

@media (min-width: 960px) {
  #xiaomi .section {
    padding: 50px 16px;
  }
}

/* columns */

#xiaomi .columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#xiaomi .columns--reverse {
  flex-direction: column-reverse;
}

@media (min-width: 960px) {
  #xiaomi .columns {
    flex-direction: row;
  }

  #xiaomi .column__item {
    flex: 1;
    position: relative;
  }
  #xiaomi .columns--reverse {
    flex-direction: row;
  }
}

/* overlay */

#xiaomi .overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

#xiaomi .pos-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

#xiaomi .pos-top-center {
  align-items: center;
  justify-content: start;
}

#xiaomi .pos-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

#xiaomi .pos-center-left {
  justify-content: center;
}

#xiaomi .pos-center {
  align-items: center;
  justify-content: center;
}

#xiaomi .pos-center-right {
  align-items: end;
  justify-content: center;
}
#xiaomi .pos-bottom-left {
  justify-content: flex-end;
}

#xiaomi .pos-bottom-center {
  align-items: center;
  justify-content: end;
}

#xiaomi .pos-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

@media (min-width: 960px) {
  #xiaomi .md-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1230px) {
  #xiaomi .lg-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
  }
}

/* margins */

/* m-left */

#xiaomi .ml-10 {
  margin-left: 10px;
}

#xiaomi .ml-20 {
  margin-left: 20px;
}
#xiaomi .ml-auto {
  margin-left: auto;
}

@media (min-width: 960px) {
  #xiaomi .md-ml-auto {
    margin-left: auto;
  }
}

/* m-right */

#xiaomi .mr-auto {
  margin-right: auto;
}

/* m-top */

#xiaomi .mt-0 {
  margin-top: 0;
}

#xiaomi .mt-10 {
  margin-top: 10px;
}

#xiaomi .mt-20 {
  margin-top: 20px;
}

#xiaomi .mt-30 {
  margin-top: 30px;
}

#xiaomi .mt-50 {
  margin-top: 50px;
}

#xiaomi .mt-60 {
  margin-top: 60px;
}

/* m-bottom */

#xiaomi .mb-10 {
  margin-bottom: 10px;
}

#xiaomi .mb-20 {
  margin-bottom: 20px;
}

#xiaomi .mb-30 {
  margin-bottom: 30px;
}

#xiaomi .mb-40 {
  margin-bottom: 40px;
}
#xiaomi .mb-50 {
  margin-bottom: 50px;
}

#xiaomi .mb-60 {
  margin-bottom: 60px;
}

#xiaomi .mb-80 {
  margin-bottom: 80px;
}

#xiaomi .m-auto {
  margin-inline: auto;
}

/* padings */

#xiaomi .p-10 {
  padding: 10px;
}

#xiaomi .p-15 {
  padding: 15px;
}

#xiaomi .p-20 {
  padding: 20px;
}

#xiaomi .pt-40 {
  padding-top: 40px;
}

#xiaomi .pt-50 {
  padding-top: 50px;
}

#xiaomi .pb-10 {
  padding-bottom: 10px;
}

#xiaomi .pl-10 {
  padding-left: 10px;
}
#xiaomi .pl-20 {
  padding-left: 20px;
}

#xiaomi .pl-40 {
  padding-left: 40px;
}

#xiaomi .pl-50 {
  padding-left: 50px;
}

#xiaomi .p-block-80 {
  padding-block: 80px;
}

#xiaomi .p-inline-50 {
  padding-inline: 50px;
}

/* % */

#xiaomi .pt-10p {
  padding-top: 10%;
}
#xiaomi .pt-12p {
  padding-top: 12%;
}

#xiaomi .pt-14p {
  padding-top: 14%;
}

#xiaomi .pt-16p {
  padding-top: 16%;
}

#xiaomi .p-5p {
  padding: 5%;
}

#xiaomi .p-10p {
  padding: 10%;
}

@media (min-width: 960px) {
  #xiaomi .md-p-10p {
    padding: 10%;
  }
}

@media (min-width: 960px) {
  #xiaomi .md-pl-10p {
    padding-left: 10%;
  }
}

/* positions */

#xiaomi .relative {
  position: relative;
}

#xiaomi .absolute {
  position: absolute;
}

/* flex */

#xiaomi .block {
  display: block;
}

#xiaomi .flex {
  display: flex;
}

#xiaomi .justify-center {
  justify-content: center;
}

#xiaomi .justify-between {
  justify-content: space-between;
}

#xiaomi .items-center {
  align-items: center;
}

#xiaomi .flex-row {
  flex-direction: row;
}

#xiaomi .flex-col {
  flex-direction: column;
}

#xiaomi .flex-1 {
  flex: 1;
}

#xiaomi .flex-2 {
  flex: 2;
}

#xiaomi .flex-none {
  flex: none;
}

#xiaomi .flex-wrap {
  flex-wrap: wrap;
}

/* gaps */
#xiaomi .gap-10 {
  gap: 10px;
}

#xiaomi_tv_75 .gap-30 {
  gap: 30px;
}

#xiaomi_tv_75 .gap-80 {
  gap: 80px;
}

#xiaomi_tv_75 .gap-5p {
  gap: 5%;
}

/* widths */

#xiaomi .w-30 {
  width: 30px;
}

#xiaomi .w-40 {
  width: 40px;
}

#xiaomi .w-70 {
  width: 70px;
}

#xiaomi .w-100 {
  width: 100px;
}

#xiaomi .w-130 {
  width: 130px;
}

#xiaomi .w-140 {
  width: 140px;
}

#xiaomi .min-w-250 {
  min-width: 250px;
}

#xiaomi .w-50p {
  width: 50%;
}

@media (min-width: 960px) {
  .md-w-50p {
    width: 50%;
  }
}

@media (min-width: 1230px) {
  .lg-w-50p {
    width: 50%;
  }
}

#xiaomi .w-60p {
  width: 60%;
}

@media (min-width: 960px) {
  .md-w-60p {
    width: 60%;
  }
}

#xiaomi .w-100p {
  width: 100%;
}

@media (min-width: 960px) {
  .md-w-90p {
    width: 90%;
  }
}

#xiaomi .w-100p {
  width: 100%;
}

/* heights */

#xiaomi .h-200 {
  height: 200px;
}

/* rounded */

#xiaomi .rounded {
  border-radius: 10px;
  overflow: hidden;
}

#xiaomi .rounded-lg {
  border-radius: 30px;
  overflow: hidden;
}

/* z-index */

#xiaomi .z-10 {
  z-index: 10;
}

#xiaomi .z-20 {
  z-index: 20;
}

/* scale-sm */

#xiaomi .scale-sm {
  transform: scale(1.5);
}

/* borders */

#xiaomi .border-right-white::after {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
}

#xiaomi .border-bottom::after {
  content: "";
  height: 1px;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  background-color: #2cc1e6;
}

@media (min-width: 960px) {
  #xiaomi .border-right::after {
    content: "";
    height: 80%;
    width: 1px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: hsl(42, 79%, 54%);
  }
}

#xiaomi .notes {
  font-size: 9px;
  margin-top: 80px;
}

#xiaomi .reference {
  font-size: 6px;
}

#xiaomi .reference-top {
  font-size: 6px;
  position: relative;
  top: -10px;
}

/* reszta  */
