@font-face {
  font-family: "MiSansLatinVF";
  src:
    url("./../fonts/MiSansLatinVF.ttf") format("ttf"),
    url("./../fonts/MiSansLatinVF.woff2") format("woff2"),
    url("./../fonts/MiSansLatinVF.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MiSansLatinVF";
  src:
    url("./../fonts/MiSansLatin-Semibold.ttf") format("ttf"),
    url("./../fonts/MiSansLatin-Semibold.woff2") format("woff2"),
    url("./../fonts/MiSansLatin-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

#xiaomi {
  font-family: "MiSansLatinVF", sans-serif;
  margin: 0 auto;
  margin-bottom: 3em;
  width: 100%;

  background: #fff;
  color: #000;

  line-height: 1.5;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  /* overflow-wrap: break-word; */

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#xiaomi * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 960px) {
  #xiaomi {
    max-width: 680px;
  }
}

@media (min-width: 1230px) {
  #xiaomi {
    max-width: 920px;
  }
}

/* images */

#xiaomi .lazy {
  width: auto;
  max-width: 100%;
  height: auto;
}

#xiaomi .img-center-x {
  margin-inline: auto;
  width: 100%;
  display: block;
}

#xiaomi .img-col {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* hero */

#xiaomi .hero__logo-container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#xiaomi .hero__img {
  width: 100%;
  display: block;
}

#xiaomi .hero__title {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}

#xiaomi .hero__name {
  font-size: 18px;
}

@media (min-width: 960px) {
  #xiaomi .hero__logo-container {
    position: absolute;
    inset: 0;
    width: 60%;
    display: flex;
    justify-content: center;
  }
}

/* texts */
#xiaomi .text-xs {
  font-size: 12px;
}

#xiaomi .text-sm {
  font-size: 15.7px;
}

@media (min-width: 960px) {
  #xiaomi .text-sm {
    font-size: 13px;
  }
}

@media (min-width: 1230px) {
  #xiaomi .text-sm {
    font-size: 15.7px;
  }
}

#xiaomi .text-lg {
  font-size: 27px;
}

#xiaomi .text-xl {
  font-size: 40px;
}

#xiaomi .text-center {
  text-align: center;
}

#xiaomi .text-left {
  text-align: left;
}

#xiaomi .text-center {
  text-align: center;
}

#xiaomi .text-right {
  text-align: right;
}

#xiaomi .text-white {
  color: #ffffff;
}

#xiaomi .text-accent {
  color: #0a71d8;
}

#xiaomi .font-600 {
  font-weight: 600;
}

/* sections */

#xiaomi .section {
  padding: 50px 5px;
  position: relative;
}

@media (min-width: 960px) {
  #xiaomi .section {
    padding: 50px 16px;
  }
}

/* columns */

#xiaomi .columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#xiaomi .columns--reverse {
  flex-direction: column-reverse;
}

@media (min-width: 960px) {
  #xiaomi .columns {
    flex-direction: row;
  }

  #xiaomi .column__item {
    flex: 1;
    position: relative;
  }
  #xiaomi .columns--reverse {
    flex-direction: row;
  }
}

/* margins */

/* m-left */

#xiaomi .gap-y-5p {
  display: grid;
  gap: 5%;
}

#xiaomi .ml-20 {
  margin-left: 20px;
}

@media (min-width: 960px) {
  #xiaomi .md\:ml-auto {
    margin-left: auto;
  }
}

/* m-right */

/* m-top */

#xiaomi-a24 .mt-0 {
  margin-top: 0;
}

#xiaomi .mt-10 {
  margin-top: 10px;
}

#xiaomi .mt-0 {
  margin-top: 0;
}

#xiaomi .mt-20 {
  margin-top: 20px;
}

#xiaomi .mt-50 {
  margin-top: 50px;
}

#xiaomi .mt-60 {
  margin-top: 60px;
}

/* m-bottom */

#xiaomi .mb-10 {
  margin-bottom: 10px;
}

#xiaomi .mb-20 {
  margin-bottom: 20px;
}

#xiaomi .mb-40 {
  margin-bottom: 40px;
}

#xiaomi .mb-60 {
  margin-bottom: 60px;
}

#xiaomi .mb-80 {
  margin-bottom: 80px;
}

#xiaomi .m-0 {
  margin: 0;
}

#xiaomi .m-auto {
  margin-inline: auto;
}

/* padings */

#xiaomi .p-10 {
  padding: 10px;
}

/* positions */

#xiaomi .relative {
  position: relative;
}

#xiaomi .absolute {
  position: absolute;
}

/* flex */

#xiaomi .flex-row {
  display: flex;
  flex-direction: row;
}

#xiaomi .justify-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#xiaomi .justify-center {
  justify-content: center;
}

#xiaomi .flex-2 {
  flex: 2;
}

#xiaomi .flex-none {
  flex: none;
}

#xiaomi .flex-wrap {
  flex-wrap: wrap;
}

/* widths */

#xiaomi .w-50 {
  width: 50%;
}

#xiaomi .w-50 {
  width: 50%;
}

#xiaomi .w-100 {
  width: 100px;
}

#xiaomi .w-130 {
  width: 130px;
}

#xiaomi .w-140 {
  width: 130px;
}
#xiaomi .min-w-250 {
  min-width: 250px;
}

/* heights */

/* rounded */

#xiaomi .rounded-lg {
  border-radius: 30px;
  overflow: hidden;
}

/* half */

/* <!-- photo --> */

#xiaomi .notes {
  font-size: 11.3px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 960px) {
  #xiaomi .overlay-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
  }

  #xiaomi .pos-top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  #xiaomi .pos-top-center {
    align-items: center;
    justify-content: start;
  }

  #xiaomi .pos-top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  #xiaomi .pos-center-left {
    justify-content: center;
  }

  #xiaomi .pos-center {
    align-items: center;
    justify-content: center;
  }

  #xiaomi .pos-center-right {
    align-items: end;
    justify-content: center;
  }
  #xiaomi .pos-bottom-left {
    justify-content: flex-end;
  }

  #xiaomi .pos-bottom-center {
    align-items: center;
    justify-content: end;
  }

  #xiaomi .pos-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
}

#xiaomi .reference {
  position: relative;
  top: 10%;
  font-size: 10px;
}

.w-50 {
  width: 50%;
}

@media (min-width: 960px) {
  .md\:w-50p {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .md\:w-60p {
    width: 60%;
  }
}

@media (min-width: 960px) {
  .md\:w-90p {
    width: 90%;
  }
}
